:root {
  --colorletra: #fff;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  width: 15rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.container-details {
  margin-top: 50px;
  padding: 50px;
}

.cards {
  display: flex;
  flex-direction: column;
}

.cards__title {
  text-align: center;
  margin-bottom: 50px;
  color: var(--colorletra);
}

.cards__img {
  display: block;
  margin: auto;
}

.cards__name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--colorletra);
}

.cards__strong {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  color: var(--colorletra);
}

.cards__pill {
  margin-top: 50px;
  display: block;
  margin: auto;
  color: var(--colorletra);
  width: 50%;
}

.button {
  margin-top: 50px;
}

button {
  display: block;
  margin: auto;
  background-color: #28a745;
  border-color: #28a745;
  color: var(--colorletra);
  width: 5%;
}

@media screen and (min-width: 768px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
}
