.nav-link{
  text-transform: capitalize;
}

.navbar {
  background-color: #5b5b5b;
}

.navbar-dark .navbar-nav .nav-link { 
color: #ffff;
}

.navbar-dark .navbar-brand {
  color: #fff;
  font-weight: 900;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}