.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    color: #fff;
    margin-top: 40px;
    border-radius: .25rem;
}

.page-width{
  width: 100px;
}